.contenedor-acceder div a .boton-acceder {
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: red;
  padding: 15px; }

/* ESTILOS DE ACCEDER */
.contenedor-acceder {
  background-image: url(../IMG/INICIO.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 10px;
  height: 100vh; }

.contenedor-acceder div img {
  height: 700px;
  padding-top: 240px;
  padding-left: 50px; }

div .logo-en-blanco {
  height: 250px; }

/*Estilos de Boton (ACCEDER)*/
.contenedor-acceder div a .boton-acceder {
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  text-decoration: none; }

.boton-acceder:hover {
  opacity: .7;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5%); }

/*Estilos de footer*/
.footer-acceder {
  background-color: rgba(0, 0, 0, 0.801); }
  .footer-acceder h2 {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    text-align: center; }

/*mediaqueries mobile, tablet y desktop*/
@media screen and (max-width: 1600px) {
  .contenedor-acceder div img {
    height: 450px;
    padding-left: 200px; } }

@media (max-width: 1000px) {
  .contenedor-acceder div img {
    height: 400px;
    padding-left: 100px; } }

@media screen and (max-width: 700px) {
  .contenedor-acceder div img {
    height: 350px;
    padding-left: 100px; } }

@media screen and (max-width: 500px) {
  .contenedor-acceder div img {
    height: 350px;
    padding-left: 60px; } }

@media screen and (max-width: 450px) {
  .contenedor-acceder div img {
    height: 320px;
    padding-left: 60px; } }

@media screen and (max-width: 350px) {
  .contenedor-acceder div img {
    height: 320px;
    padding-left: 5px; } }

@media (max-width: 400px) {
  .contenedor-acceder img {
    height: 320px;
    padding-left: 30px; } }

@media (max-width: 600px) {
  .boton-acceder {
    font-size: 1rem;
    top: 65%; } }

/*mediaqueries mobile, tablet y desktop del boton acceder*/
@media screen and (max-width: 500px) {
  body .contenedor-acceder div a .boton-acceder {
    left: 35%;
    top: 70%; } }

@media screen and (max-width: 300px) {
  body .contenedor-acceder div a .boton-acceder {
    left: 25%;
    top: 70%; } }

/*Estilos de body (HOME)*/
.img-fondo {
  width: 100%; }

.contenedor-body {
  position: relative;
  width: 100%; }
  .contenedor-body div .img-aviso {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 200px;
    left: 50px; }

.contenedor-body div .img-aviso:hover {
  transform: scale(1.05); }

.contenedor-body div .img-aviso {
  transition: all 0.5s; }

body .contenedor-marcas {
  background-color: #0f2833bc;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 5px; }
  body .contenedor-marcas .marcas-img {
    display: flex;
    height: 150px;
    gap: 1rem; }

/*Mediaqueries de HOME*/
@media (max-width: 1920px) {
  body .contenedor-marcas .marcas-img {
    height: 150px;
    gap: 1rem; } }

@media (max-width: 1300px) {
  body .contenedor-marcas .marcas-img {
    height: 100px;
    gap: 1rem; } }

@media (max-width: 900px) {
  body .contenedor-marcas .marcas-img {
    height: 50px;
    gap: 1rem; } }

@media (max-width: 500px) {
  body .contenedor-marcas .marcas-img {
    height: 30px;
    gap: 1rem; } }

@media (max-width: 350px) {
  body .contenedor-marcas .marcas-img {
    height: 20px;
    gap: 1rem; } }

@media (max-width: 1200px) {
  .contenedor-body {
    position: relative;
    width: 100%; }
    .contenedor-body div .img-aviso {
      width: 300px;
      height: 300px;
      position: absolute;
      top: 100px;
      left: 50px; } }

@media (max-width: 1000px) {
  .contenedor-body {
    position: relative;
    width: 100%; }
    .contenedor-body div .img-aviso {
      width: 200px;
      height: 200px;
      position: absolute;
      top: 100px;
      left: 50px; } }

@media (max-width: 700px) {
  .contenedor-body {
    position: relative;
    width: 100%; }
    .contenedor-body div .img-aviso {
      width: 300px;
      height: 300px;
      position: absolute;
      top: 50px;
      left: 10px; } }

@media (max-width: 660px) {
  .contenedor-body {
    position: relative;
    width: 100%; }
    .contenedor-body div .img-aviso {
      width: 200px;
      height: 200px;
      position: absolute;
      top: 50px;
      left: 10px; } }

@media (max-width: 500px) {
  .contenedor-body {
    position: relative;
    width: 100%; }
    .contenedor-body div .img-aviso {
      width: 150px;
      height: 150px;
      position: absolute;
      top: 25px;
      left: 10px; } }

@media (max-width: 350px) {
  .contenedor-body {
    position: relative;
    width: 100%; }
    .contenedor-body div .img-aviso {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 25px;
      left: 10px; } }

/*ANIMACION CARDS (PAGINA PRODUCTOS)*/
.card:hover {
  transform: scale(1.03); }

.card {
  transition: all 0.5s; }

/*ESTILOS DE GRID (PAGINA EMPRESA)*/
.grid {
  display: grid;
  gap: 10px;
  height: 100%;
  font-size: 18px;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "sidebar img1 img1" "sidebar img1 img1" "sidebar img2 img3"; }

.sidebar {
  grid-area: sidebar;
  background-color: #0f2833bc;
  color: white;
  font-size: 1.5rem;
  padding: 20px;
  align-items: center; }

.img1 {
  width: 100%;
  height: 500px;
  grid-area: img1; }

.img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

div .img2 {
  width: 100%;
  height: 100%;
  grid-area: img2; }

div .img3 {
  width: 100%;
  height: 100%;
  grid-area: img3; }

.img1 {
  background-color: red; }

/*Mediaqueries de GRID (PAGINA EMPRESA)*/
@media screen and (max-width: 1250px) {
  .grid {
    display: inline-block;
    height: 100%;
    margin-top: 1px;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "sidebar img1 img2"; }
  .img1 {
    margin-bottom: 10px; }
  div .img2 {
    display: none; }
  div .img3 {
    display: none; } }

@media screen and (max-width: 1850px) {
  .sidebar {
    font-size: 1.3rem; } }

@media screen and (max-width: 1000px) {
  .sidebar {
    font-size: 1rem; } }

/*Estilos de pagina CONTACTO*/
aside .container-info {
  padding: 10px; }
  aside .container-info .info div h3 {
    text-decoration: underline; }

aside .container-info {
  background-color: #0f2833bc;
  display: flex;
  padding-top: 10px;
  justify-content: space-around; }

aside .form-div {
  width: 400px;
  padding-bottom: 16px; }

aside .feedback-input {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: #fbfbfb;
  padding: 13px 13px;
  width: 100%; }

aside textarea {
  width: 100%;
  height: 150px; }

aside .titulo-contacto {
  display: flex;
  background-color: #0f2833bc;
  color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  align-items: center;
  justify-content: center;
  text-decoration: underline; }

/*Mediaqueries de pagina Contactos*/
@media screen and (max-width: 700px) {
  body aside .container-info .info {
    display: none; } }

/*Estilos de NAVBAR*/
.navbar-brand {
  display: flex; }
  .navbar-brand img {
    height: 130px; }
  .navbar-brand h1 {
    font-size: 1.6rem; }

.navbar-nav {
  font-size: 1.4rem; }

div ul li a img {
  height: 30px; }

/*Animacion de NAVBAR*/
.nav-link:hover {
  color: #a31313 !important; }

/*Mediaqueries de NAVBAR*/
@media (max-width: 574px) {
  .navbar-brand img {
    height: 80px; } }

@media (max-width: 400px) {
  .navbar-brand img {
    height: 60px; } }

@media (max-width: 574px) {
  .navbar-brand h1 {
    font-size: 1rem; } }

@media (max-width: 390px) {
  .navbar-brand h1 {
    font-size: 0.7rem; } }

@media (max-width: 350px) {
  .navbar-brand h1 {
    font-size: 0.7rem; } }

@media (max-width: 330px) {
  .navbar-brand h1 {
    font-size: 0.6rem; } }

@media (max-width: 1200px) {
  .nav-item {
    font-size: 1rem; } }

/*Estilos de horarios*/
.contenedor-horarios {
  background-color: rgba(0, 0, 0, 0.8); }
  .contenedor-horarios h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px; }

/*Mediaqueries de horarios*/
@media (max-width: 930px) {
  .contenedor-horarios h2 {
    font-size: 13px; } }

@media (max-width: 500px) {
  .contenedor-horarios h2 {
    font-size: 10px; } }

/*Estilos de banner (INFO EMPRESA)*/
main .contenedor-info .info-empresa {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 10px;
  padding: 15px; }
  main .contenedor-info .info-empresa div .face-insta a img {
    height: 25px;
    align-items: center; }

/*Mediaqueries de banner (INFO EMPRESA)*/
@media (max-width: 800px) {
  .info-empresa {
    font-size: 10px;
    padding: 15px; }
    .info-empresa h4 {
      font-size: 15px;
      flex-direction: row-reverse; } }

@media (max-width: 500px) {
  .info-empresa {
    font-size: 10px; }
    .info-empresa h4 {
      font-size: 9px; } }

@media (max-width: 500px) {
  .info-empresa {
    height: 150px;
    font-size: 8px;
    display: inline-block;
    padding: 15px; } }

@media (max-width: 350px) {
  .info-empresa {
    height: 150px;
    font-size: 8px;
    display: inline-block;
    padding: 15px; } }

@media (max-width: 800px) {
  div .face-insta a img {
    height: 20px;
    width: 20px; } }

@media (max-width: 500px) {
  div .face-insta a img {
    height: 15px; } }

@media (max-width: 350px) {
  .contenedor-faceinsta {
    display: none; } }

/*Estilos de footer general para todos los html*/
footer {
  background-color: rgba(0, 0, 0, 0.8); }
  footer h5 {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    text-align: center; }

/*Mediaqueries de footer general para todos los html*/
@media (max-width: 800px) {
  footer h5 {
    font-size: 10px; } }
